@import "../../../styles.scss";

.container {
  background: $light;
  border-radius: 8px;
  margin-top: 20px;

  .topBar {
    @include flex;
    justify-content: space-between;
    h2 {
      color: $darkGrey;
      padding: 10px 20px;
    }
    .buttons {
      margin: 0 20px;
      button {
        border: none;
        border-radius: 4px;
        margin: 10px 0 10px 10px;
        padding: 10px;
        width: 100px;
        font-weight: 700;

        cursor: pointer;
        &:hover {
          background: $gradient;
          color: $light;
        }
        &:focus {
          background: $gradient;
        }
      }
      .active {
        color: $light;
        background: $gradient;
      }
    }
  }

  .content {
    .contentValue {
      display: grid;
      grid-template-columns: 50% 50%;
      .table {
        padding: 20px;

        table {
          border: 1px solid $lightGrey;
          width: 100%;

          th {
            border-bottom: 1px solid $lightGrey;
            text-align: left;
            padding: 10px;
          }

          td {
            text-align: left;
            padding: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .container {
    .topBar {
      display: block;
      .buttons {
        margin: 0 5px;
        button {
          border: none;
          border-radius: 4px;
          margin: 10px 0 10px 10px;
          padding: 5px;
          width: 60px;
          font-weight: 700;
        }
      }
    }
    .content {
      .contentValue {
        grid-template-columns: 100%;
        .graph {
          padding: 20px;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
