<div class="sidebar" [ngClass]="{ close: clicked }">
  <div class="trigger">
    <i class="fa-solid fa-bars" (click)="trigermenu()"></i>
  </div>
  <div class="items">
    <ul>
      <li>
        <a href="#">
          <i class="fa-solid fa-braille">
            <span>Dashboard</span>
          </i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa-solid fa-bag-shopping">
            <span>Shopping</span>
          </i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa-solid fa-users">
            <span>users</span>
          </i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa-solid fa-bag-shopping">
            <span>Store</span>
          </i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa-solid fa-message">
            <span>Messages</span>
          </i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa-solid fa-envelope">
            <span>Mail</span>
          </i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa-regular fa-file">
            <span>Documents</span>
          </i>
        </a>
      </li>
    </ul>
  </div>
</div>
